# Web framework
fastapi
uvicorn
python-multipart  # necesario para Form y File en FastAPI

# MongoDB
pymongo
certifi  # para TLS/SSL en Atlas

# AWS S3
boto3>=1.35.0
aioboto3>=13.1.1
aiobotocore>=2.13.0

# Machine Learning / Deep Learning
numpy>=1.26,<2.0
ultralytics>=8.3.30  # soporta YOLOv11
onnxruntime

# Computer Vision
opencv-python

# Utilidades
python-dotenv
pydantic>=2.0
pydantic-settings>=2.0








