# Web framework
fastapi
uvicorn

# MongoDB
pymongo
bson

# AWS S3
boto3

# Machine Learning / Deep Learning
numpy>=1.26,<2.0
ultralytics>=8.3.30  # soporta YOLOv11

# Computer Vision
opencv-python

# Utilidades
python-dotenv






